@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black;
    font-family: "Pretendard", sans-serif;
  }
}

@layer utilities {
  .flex-center {
    @apply flex flex-row items-center justify-center;
  }
  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
}
